<button (click)="download()">
  Descargar
</button>

<div class="invoice-container" id="ticket">
  <div class="invoice-header">

    <div class="invoice-info">
      <div class="invoice-number">
        <span class="value">{{sale.idSale}}</span>
      </div>
      <div class="invoice-date">
        <span class="value">{{sale.date}}</span>
      </div>
    </div>
  </div>
  <div class="invoice-title">
    {{sale.nameEstablishment}}
  </div>
  <div class="invoice-customer">
    <div class="customer-name">
      <div class="customer-code">
        <span class="field">Codigo cliente:</span>
        <span class="value">{{sale.codeCust}}</span>
      </div>
      <span class="field">Nombre:</span>
      <span class="value">{{sale.name}}</span>
    </div>
  </div>
  <div class="invoice-items">
    <table class="items-table">
      <thead>
        <tr>
          <th>Cantidad</th>
          <th>Descripcion</th>
          <th>P. Unitario</th>
          <th>Desc</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2</td>
          <td>Articulo 1</td>
          <td>12.5</td>
          <td>2.5</td>
          <td>22.5</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Articulo 1</td>
          <td>10</td>
          <td>0</td>
          <td>30</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td colspan="3" class="right-align">
            <span class="total">TOTAL</span> GTQ 52.5
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="invoice-footer">
    <p class="thank-you">¡Gracias por su compra!</p>
  </div>
</div>
